@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2 {
  font-family: var(--font-playfair), serif;
}

code,
pre {
  font-family: var(--font-inter), monospace;
}

@layer base {

  /* global styles */
  *::selection {
    @apply bg-indigo-600/30;
  }
}

@layer utilities {
  .hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}